spark.authenticate true
spark.authenticate.secret "{{lookup('ansible.builtin.password', './.sparkpass', length=16) }}"
spark.executor.cores 2
spark.executor.instances {{ groups['workers'] | length}}
spark.default.parallelism {{ 2 * groups['workers'] | length  }}