Description=Hive Service

[Service]
ExecStart={{ hive_path }}/bin/start-metastore
Type=simple 
WorkingDirectory={{ hive_path }}
Environment="METASTORE_HOME={{ hive_path }}"
Environment="HADOOP_HOME=/home/almalinux/hadoop-3.4.1"
Environment="JAVA_HOME=$(readlink -f /usr/bin/java | sed \"s:bin/java::\")"

[Install]
WantedBy=default.target