primary_conninfo = 'host={{groups["primary_node"][0]}} port=5432 user=replicator password={{lookup("ansible.builtin.password", "./.replicatorpass", length=16) }}'
ssl = on
ssl_cert_file = 'server.crt'
ssl_key_file = 'server.key'